body {
  background-color: rgb(13, 39, 39);
  color: rgb(255, 255, 255);
}
h1 {
  color: rgb(255, 255, 255);
}
p {
  color: rgb(255, 255, 255);
}
a {
  color: rgb(255, 255, 255);
}
table {
  border-collapse: separate;
  border-spacing: 15px;
}
